.img {
  display: block;
  margin: 200px 200px 200px 500px;
}

.nav-left {
  display: inline-block;
  padding-left: 15px;
}

.nav-right {
  float: right;
  flex: 0 1 auto;
  vertical-align: middle;
}

.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
}

.search-box {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  font-size: 16px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 94px !important;
}

.footer {
  bottom: 0px;
  position: absolute;
}
